        {% if title %}
        <title>PMHC-MDS - {{ title }}</title>
        {% else %}
        <title>PMHC-MDS</title>
        {% endif %}
        <meta charset="utf-8">
        <!-- Bootstrap required meta tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">


        <!-- Imported CSS-->
        <link href={{ url_for('static', filename='css/tabulator_bootstrap4.css') }} rel="stylesheet" media="screen, print">
        <link href={{ url_for('static', filename='css/jquery-ui.css"') }} rel="stylesheet" media="screen, print">
        <link href={{ url_for('static', filename='css/jquery.timepicker.css') }} rel="stylesheet" media="screen, print">
        <link href={{ url_for('static', filename='css/bootstrap-datepicker3.standalone.css') }} rel="stylesheet" media="screen">
        <link href={{ url_for('static', filename='css/tags-input.css') }} rel="stylesheet" media="screen, print">

       <!-- Imported JS-->
        <script src={{ url_for('static', filename='js/jquery-3.6.0.min.js') }}></script> 
        <!-- jquery-ui.min.js must be at top to avoid error with autocomplete -->
        <script src={{ url_for('static', filename='js/jquery-ui.min.js') }}></script> 
        <script src={{ url_for('static', filename='js/tabulator4-9.min.js') }}></script> 
        <script src={{ url_for('static', filename='js/bs-custom-file-input.js') }}></script> <!-- For use with the file browse input with Bootstrap-->
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
        
        <!--Custom (pmhc-mds.css contains Bootstrap.css) -->
        <link href={{ url_for('static', filename='css/pmhc-mds.css') }} rel="stylesheet" media="screen, print">

        {% if request.endpoint and "login" in request.endpoint  %}
        <link href={{ url_for('static', filename='css/login.css') }} rel="stylesheet">
        {% endif %}
