{% if current_user.is_authenticated  %}
{% extends "base.html" %}
{% else %}
{% extends "base_anon.html" %}
{% endif %}
{% block content %}

<div class="container-fluid">
    <div class="row cm-fix-height">
        
        {% if current_user.is_authenticated  %}
        
            <div class="row col-md-5">
                <label for="clientkeyname">Search for client</label>
                <input autocomplete="off" class="form-control ui-autocomplete-input" id="clientkeyname" name="clientkeyname" type="text">
                <small class="form-text text-muted">
                    {% if '127.0.0.1' in request.url_root or 'demo' in request.url_root %}
                        Tip: Fake records are already entered, try searching for a name.<br>
                    {% endif %}
                    {% if 2 not in current_user.rolelist() and 3 not in current_user.rolelist() %}
                        Your account can only search on client keys, not names.
                    {% endif %}
                </small>
            </div>
            <div class="row col-md-12 mt-5">
                <a href="{{ url_for('main.client',id='new') }}" class="btn btn-primary"><span data-feather="plus-circle"></span> New client record</a>
            </div>
            
        {% else %}
            <a class="btn btn-primary mt-3" href="{{url_for('auth.login')}}">Log in</a>
        {% endif %}

    </div>
</div>




<script>
    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
    
    $(function() {
      $("#clientkeyname").focus();
    });
    
    $(function() {
        $("#clientkeyname").autocomplete({
            source:function(request, response) {
                $.getJSON("{{url_for('main.searchclient')}}",{
                    q: request.term, // in flask, "q" will be the argument to look for using request.args
                }, function(data) {
                    response(data.matching_results); // matching_results from jsonify
                });
            },
            minLength: 3,
            select: function(event, ui) {
                window.location = "/client/" + ui.item.id;
            }
        });
    })
  
  

</script>

{% endblock %}
