<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">

    <head>
        {% if title %}
        <title>PMHC-MDS - {{ title }}</title>
        {% else %}
        <title>PMHC-MDS</title>
        {% endif %}
        <meta charset="utf-8">
        <!-- Bootstrap required meta tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link href={{ url_for('static', filename='css/tabulator_bootstrap4.css') }} rel="stylesheet" media="screen, print">
            
        <!-- Imported -->
        <link href={{ url_for('static', filename='css/jquery-ui.css') }} rel="stylesheet" media="screen, print">
        <link href={{ url_for('static', filename='css/bootstrap-datepicker3.standalone.css') }} rel="stylesheet" media="screen">
        
        <!--Custom-->
        <link href={{ url_for('static', filename='css/pmhc-mds.css') }} rel="stylesheet" media="screen">

        <!-- Imported -->
        <script src={{ url_for('static', filename='js/jquery-3.6.0.min.js') }}></script> 
        <!-- jquery-ui.min.js must be at top to avoid error with autocomplete -->
        <script src={{ url_for('static', filename='js/jquery-ui.min.js') }}></script> 
        <script src={{ url_for('static', filename='js/d3.v4.min.js') }}></script> 

    </head>
    <body>
        {% if request.user_agent.browser == 'msie' %}
            <!--        Browser is unsupported-->
            <main role="main" class="container-fluid d-flex flex-column h-100 mt-3">
                <div class="alert alert-info" role="alert">Internet Explorer is not supported by this website. Please open using Chrome, Edge, or Firefox.</div>
            </main>
        {% else %}
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
           <a class="navbar-brand" href={{ url_for('main.index') }}><img src={{ url_for('static', filename='img/logo.svg') }}></img></a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
           </button>

           <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                   <li class="nav-item active">
                       <a class="nav-link" href="{{ url_for('main.index') }}"><span data-feather="home"></span> Home <span class="sr-only"></span></a>
                   </li>
               </ul>
           </div>
       </nav>

        <main role="main" class="container-fluid d-flex flex-column h-100 mt-1">
    
        {% block content %}{% endblock %}
    
        </main>
        
        {% endif %}
        
    <!-- Popper.js and Bootstrap JS come after JQuery-->
    <script src={{ url_for('static', filename='js/popper.min.js') }}></script>
    <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>

    <!-- Feather.js (for UI icons) comes from https://unpkg.com/feather-icons/dist/feather.min.js -->
    <script src={{ url_for('static', filename='js/feather.min.js') }}></script>


    
    </body>
</html>


