text {
  fill: #2B4162;
  stroke: none;
}

.ylabel {
    font-size: 22px;
}

.axis-title {
    text-anchor: start;
    fill: #5D6971;
    font-weight: bold;
    font-size: 1.3em;
}


.axis text {
    font: sans-serif;
}

.patient_axis_y path{
    stroke: #fff;
}

.patient_axis_x path{
    stroke: #fff;
}

.patient_axis_x path{
    stroke: #fff;
}


.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.grid path {
  stroke: none;
}

.grid line {
  stroke: #E0E0E0;
  shape-rendering: crispEdges;
}

.bar {
    fill: #27AAE1;
}

.bar:hover {
    fill: #3ABEB6;
}

.bartext {
    font-size: .8em;
}

.dottext {
    text-anchor: middle;
    font-size: .7em;
}

.d3-tip {
  line-height: 1;
  font-size: .9em;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 12px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}



